*{
  margin: 0;
  padding: 0;
}

body{
  background: #fff5eb;
  font-family: 'Montserrat', sans-serif;
}

/* TITLE */

.main-title{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 30vh;
  width: 60vw;

}

.title {
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 50px;
}

.title-p{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-align: center;
}

/* MAIN SECTION */

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
}

/* JOBS */

#jobs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
  width: 100vw;
}

.job-roulette{
border-radius: 20px;
font-family: 'Montserrat', sans-serif;
padding: 16px;
font-size: 20px;
}

.job-roulette:hover {
  background-color: black;
  color: white;
}

option{
  font-size: 17px;
}


.jobs-img{

  margin-top: 20px;
}

.handywoman{
  width: 500px;
  height: 600px;
  visibility: hidden;
  position: absolute;
  transform: translateX(-250px);
}

.lightbulb{
  width: 500px;
  height: 600px;
  visibility: hidden;
  position: absolute;
  transform: translateX(-250px);
}

.ramen{
  width: 500px;
  height: 600px;
  visibility: hidden;
  position: absolute;
  transform: translateX(-250px);
}

.pizza{
  width: 500px;
  height: 600px;
  visibility: hidden;
  position: absolute;
  transform: translateX(-250px);
}

.rollerblader{
  width: 500px;
  height: 600px;
  visibility: hidden;
  position: absolute;
  transform: translateX(-250px);
}

.guide{
  width: 500px;
  height: 600px;
  visibility: hidden;
  position: absolute;
  transform: translateX(-250px);
}

.author{
  width: 500px;
  height: 600px;
  visibility: hidden;
  position: absolute;
  transform: translateX(-250px);
}

.dentist{
  width: 500px;
  height: 600px;
  visibility: hidden;
  position: absolute;
  transform: translateX(-250px);
}
